body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.options {
  margin-right: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 10px 0;
  border-bottom: 1px solid #add8e6;
  text-align: left;
  transition: padding-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
  cursor: pointer;
}

ul li.active {
  padding-left: 10px;
  font-weight: bold;
  color: #add8e6;
}

.links-container {
  display: flex;
  flex-direction: column;
}

.links {
  display: none;
}

.links a {
  display: block;
  padding: 5px 0;
  color: #add8e6;
  text-decoration: none;
  transition: color 0.3s linear;
}

.links a:hover {
  color: #ffffff;
}