body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
}

ul {
  list-style-type: none;
  width: 200px;
  height: auto;
  padding: 0;
  margin-right: 20px;
}

ul li {
  padding: 10px 0;
  border-bottom: 1px solid #add8e6;
  text-align: left;
  transition: padding-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
  -webkit-transition: padding-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
  -moz-transition: padding-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
  -o-transition: padding-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
  -ms-transition: padding-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
  cursor: pointer;
}

ul li:first-child {
  border-top: 1px solid #909;
}

ul li:hover {
  padding-left: 20px;
  font-weight: 600;
  color: #add8e6;
}

.links-container {
  display: none;
}

.links-container.active {
  display: block;
}

.links-container.active .links {
  display: block;
}

.links {
  display: none;
  margin-top: 10px;
}

a {
  color: white;
}